//Import utilities
// Utilities

// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge($utilities,
        ("width-px": (property: width,
            class: width,
            values: (5:5px,
                10:10px,
                15:15px,
                20:20px,
                25:25px,
                30:30px,
                35:35px,
                40:40px,
                45:45px,
                50:50px,
                55:55px,
                60:60px,
                65:65px,
                70:70px,
                75:75px,
                80:80px,
                85:85px,
                90:90px,
                95:95px,
                100:100px,
                110:110px,
                120:120px,
                130:130px,
                140:140px,
                150:150px,
            )),

        // scss-docs-start utils-Height in px
        "height-px": (property: height,
            class: height,
            values: (5:5px,
                10:10px,
                15:15px,
                20:20px,
                25:25px,
                30:30px,
                35:35px,
                40:40px,
                45:45px,
                50:50px,
                55:55px,
                60:60px,
                65:65px,
                70:70px,
                75:75px,
                80:80px,
                85:85px,
                90:90px,
                95:95px,
                100:100px,
                110:110px,
                120:120px,
                130:130px,
                140:140px,
                150:150px,
            )),
// scss-docs-start utils-Height in px
"size-width": (property: width,
class: size,
values: (5:5px,
    10:10px,
    15:15px,
    20:20px,
    25:25px,
    30:30px,
    35:35px,
    40:40px,
    45:45px,
    50:50px,
    55:55px,
    60:60px,
    65:65px,
    70:70px,
    75:75px,
    80:80px,
    85:85px,
    90:90px,
    95:95px,
    100:100px,
    110:110px,
    120:120px,
    130:130px,
    140:140px,
    150:150px,
    160:160px,
)),
// scss-docs-start utils-Height in px
"size-height": (property: height,
class: size,
values: (5:5px,
    10:10px,
    15:15px,
    20:20px,
    25:25px,
    30:30px,
    35:35px,
    40:40px,
    45:45px,
    50:50px,
    55:55px,
    60:60px,
    65:65px,
    70:70px,
    75:75px,
    80:80px,
    85:85px,
    90:90px,
    95:95px,
    100:100px,
    110:110px,
    120:120px,
    130:130px,
    140:140px,
    150:150px,
    160:160px,
)),
"vh-viewport": (
      property: height,
      class: vh,
      values: (
          25:25vh,
          50:50vh,
          75:75vh,
          100: 100vw
          )
    ),
    "z-index": (
      property: z-index,
      class: z-index,
      values: (
          1:1,
          2:2,
          3:3,
          n1: -1,
          fixed:$zindex-fixed
          )
    ),
         //Start border utilities
         "border": (
            property: border,
            values: (
              null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
              0: 0,
            )
          ),
          "border-top": (
            responsive:true,
            property: border-top,
            values: (
              null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
              0: 0,
            )
          ),
          "border-end": (
            responsive:true,
            property: border-right,
            class: border-end,
            values: (
              null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
              0: 0,
            )
          ),
          "border-bottom": (
            responsive:true,
            property: border-bottom,
            values: (
              null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
              0: 0,
            )
          ),
          "border-start": (
            responsive:true,
            property: border-left,
            class: border-start,
            values: (
              null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
              0: 0,
            )
          ),
          "border-color": (
            property: border-color,
            class: border,
            local-vars: (
              "border-opacity": 1
            ),
            values: $utilities-border-colors
          ),
          "border-width": (
            css-var: true,
            css-variable-name: border-width,
            class: border,
            values: $border-widths
          ),
          "border-opacity": (
            css-var: true,
            class: border-opacity,
            values: (
              10: .1,
              25: .25,
              50: .5,
              75: .75,
              100: 1
            )
          ),
          ));




    //Addiotional utilities
    
  //overflow-scroll
  .overflow-scroll-y{
    overflow-y: scroll;
  }
  .min-height-100{
    min-height: 100%;
  }

